{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Technocenter</title>
  <link rel="stylesheet" href="{% static 'index/css/header.css' %}">
  <link rel="stylesheet" href="{% static 'index/css/products.css' %}">
  <link rel="stylesheet" href="{% static 'index/css/hero-section.css' %}">
  <link rel="stylesheet" href="{% static 'index/css/features.css' %}">
  <link rel="stylesheet" href="{% static 'index/css/footer.css' %}">
  <link rel="stylesheet" href="{% static 'index/css/rights.css' %}">
  <link rel="stylesheet" href="{% static 'index/css/FAQ.css' %}">
  <link rel="stylesheet" href="{% static 'products/css/product.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/accounts_deposit_funds/css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'contact_us/css/contact_us.css' %}">  
  <link rel="stylesheet" href="{% static 'accounts/account_details_view/css/view_profile_details.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/log_in_view/css/log_in.css' %}">  
  <link rel="stylesheet" href="{% static 'accounts/register_view/css/register.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/edit_profile_view/css/edit_profile.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/edit_profile_address_view/css/edit_profile_address.css' %}">
  <link rel="stylesheet" href="{% static 'accounts/account_delete/css/account_delete.css' %}">
  <link rel="stylesheet" href="{% static 'products/edit_product/css/edit_product.css' %}">  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">  

</head>
<body>
  <!-- HEADER -->
  <header>
    <!-- The img logo -->
    <img class="logo" src="{% static 'index/images/techno-logo-4.png' %}" alt="Technocenter">
    <!-- Navigation -->
        <!-- Unordered list of hyperlink, leading to the other pages -->
        <ul class = "navigation_links">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'products_page' %}">Products</a></li>
            <li><a href="{% url 'contact_us' %}">Contacts</a></li>
        </ul>
        <ul class = "navigation_links">
            {% if not user_authenticated %}
                <li><a href="{% url 'register' %}">Sign up</a></li>
                <li><a href="{% url 'login' %}">Log in</a></li>
            {% else %}
                <li><a class="username" href="{% url 'profile_details' %}">{{ username }}</a></li>
                <li><a class="username" href="{% url 'cart' %}">Cart</a></li>
                <li><a class="username" href="{% url 'logout' %}">Logout</a></li>
                <li class="current_funds">{{ funds }}$</li>
            {% endif %}
        </ul>
  </header>
<!-- END OF HEADER -->

{% block content %}
{% endblock %}


<!-- START OF FOOTER -->
  <footer class="footer">
    <div class="footer-logo-box">
      <img class="footer-logo" src="{% static 'index/images/techno-logo-2.png' %}" alt="logo">
    </div>

    <div class="heading-one">
      <h1 class="footer-heading">Browse</h1>
      <ul class="footer-lists">
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'products_page' %}">Products</a></li>
        <li><a href="{% url 'contact_us' %}">Contacts</a></li>
      </ul>
    </div>

    <div class="heading-two">
      <h1 class="footer-heading">Contact us</h1>
      <ul class="footer-lists">
        <li><i class="fa fa-phone fa-lg"></i> 089 098 8765</li>
        <li><i class="fa fa-envelope fa-lg"></i> PavelKalchishkov@gmail.com</li>
        <li><i class="fa fa-map-marker fa-lg"></i> Ruse, Bulgaria</li>
        <li><i class="fa fa-clock-o fa-lg"></i> Monday - Friday, 09:00 - 18:00</li>
      </ul>
    </div>
  </footer>
  <!--  END OF FOOTER  -->

  <!-- START OF RIGHTS SECTION -->
  <div class="rights">
    <h3 class="rights-text">&copy; All rights reserved. Technocenter</h3>
  </div>
  <!-- END OF RIGHTS SECTION -->

</body>
</html>