{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="edit-profile-container">
    <form method="post" class="edit-profile-form">
        {% csrf_token %}
        <h2 class="edit-profile-title">Edit Profile</h2>
        <div class="product-form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="product-form-group">
            {{ form.first_name.label_tag }}
            {{ form.first_name }}
        </div>
        <div class="product-form-group">
            {{ form.last_name.label_tag }}
            {{ form.last_name }}
        </div>
        <div class="product-form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="product-form-group">
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>
        <button type="submit" class="save-changes-button">Save Changes</button>
    </form>
</div>
{% endblock %}