{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="register-container">
    <form method="post" class="register-form">
        {% csrf_token %}
        <h2 class="register-title">Register</h2>
        <div class="product-form-group">
            {{ form.username.label_tag }}
            {{ form.username }}
        </div>
        <div class="product-form-group">
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="product-form-group">
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>
        <div class="product-form-group">
            {{ form.password1.label_tag }}
            {{ form.password1 }}
        </div>
        <div class="product-form-group">
            {{ form.password2.label_tag }}
            {{ form.password2 }}
        </div>
        <button type="submit" class="register-button">Register</button>
    </form>
</div>
{% endblock %}

