{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1 class="contact-us-header">Our Contacts</h1>
<div class="contact-section">
        <div class="contact-card">
            <div class="icon">
                <img src="https://img.icons8.com/ios-filled/50/FF5722/home.png" alt="Visit Us Icon">
            </div>
            <h3>VISIT US</h3>
            <p>Lorem ipsum dolor sit amet, cones ctetur adipiscing elit dusch solli citudin arcu non rutrum</p>
            <p class="highlight">2 Elizabeth St. London, UK</p>
        </div>
        <div class="contact-card">
            <div class="icon">
                <img src="https://img.icons8.com/ios-filled/50/FF5722/phone.png" alt="Call Us Icon">
            </div>
            <h3>CALL US</h3>
            <p>Lorem ipsum dolor sit amet, cones ctetur adipiscing elit dusch solli citudin arcu non rutrum</p>
            <p class="highlight">+44 (0) 203 116 7711</p>
        </div>
        <div class="contact-card">
            <div class="icon">
                <img src="https://img.icons8.com/ios-filled/50/FF5722/email.png" alt="Contact Us Icon">
            </div>
            <h3>CONTACT US</h3>
            <p>Lorem ipsum dolor sit amet, cones ctetur adipiscing elit dusch solli citudin arcu non rutrum</p>
            <p class="highlight">noreply@noland.com</p>
        </div>
    </div>

    <div class="social-media">
  <h1>Follow Us</h1>
  <div class="social-links">
    <a href="https://www.facebook.com" target="_blank" class="facebook" title="Facebook">
      <i class="fa-brands fa-facebook"></i>
    </a>
    <a href="https://www.twitter.com" target="_blank" class="twitter" title="Twitter">
      <i class="fa-brands fa-twitter"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank" class="instagram" title="Instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com" target="_blank" class="linkedin" title="LinkedIn">
      <i class="fa-brands fa-linkedin"></i>
    </a>
    <a href="https://www.youtube.com" target="_blank" class="youtube" title="YouTube">
      <i class="fa-brands fa-youtube"></i>
    </a>
  </div>
</div>


{% endblock %}