{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- MAIN -->
  <main>
<!-- HERO SECTION -->
    <section class="section-hero">

      <div class="hero">
        
        <div class="hero-text">
          <h1 class="hero-heading">The best of the best</h1>
          <p class="hero-paragraph">Our mission is to deliver performance-enhancing solutions that
              elevate the user experience and set the gold standard in the peripheral industry.We understand the needs of gamers, 
              professionals, and everyday users.</p>
          <a class="products-button" href="{% url 'products_page' %}">Contact us &rarr;</a>
        </div>

        <div class="hero-image-box">
          <img src="{% static 'index/images/gaming-mouse.png' %}" class="hero-img" alt="">
        </div>

      </div>
    </section>
<!-- END OF HERO SECTION -->

    <!-- PRODUCTS PAGE -->
    <section class="all-products">

    <h1 class="product_title"><a href="{% url 'products_page' %}">Top Sellers</a></h1>

    <div class="all-products-flex">

      <div class="products">
        <a href="{% url 'products_page' %}">
          <img class="first_top_seller" src="{% static 'index/images/white_gaming_mouse.png' %}" alt="white-mouse-razor">
          <h1 class="first_top_seller_name">Razor mouse</h1>
        </a>
      </div>

      <div class="products">
        <a href="{% url 'products_page' %}">
          <img class="second_top_seller" src="{% static 'index/images/white_keyboard.png' %}" alt="white-keyboard">
          <h1 class="second_top_seller_name">Red Dragon keyboard</h1>
        </a>
      </div>

      <div class="products">
        <a href="{% url 'products_page' %}">
          <img class="third_best_seller" src="{% static 'index/images/gaming_laptop.png' %}" alt="white-laptop">
          <h1 class="third_best_seller_name">TUF Gaming laptop</h1>
        </a>
      </div>

      <div class="products">
        <a href="{% url 'products_page' %}">
          <img class="fourth_top_seller" src="{% static 'index/images/playstation-5.png' %}" alt="playstation-5">
          <h1 class="fourth_top_seller_name">Playstation 5</h1>
        </a>
      </div>
    </div> 

    <a href="{% url 'products_page' %}" class="check-all-products">Check all products &rarr;</a>

  </section>
  <!-- END OF PRODUCTS PAGE -->


<!-- FEATURE SECTION -->

    <section class="features-bulletpoints">

      <h1 class="features-main-header">Why buy from us?</h1>

      <div class="features">

        <div class="feature">
          <div class = "feature-heading">
            <img src="{% static 'index/images/fast_delivery.png' %}" class="feature-icon">
            <h2 class="feature-h2">Fast Delivery</h2>
          </div>
            <p class="feature-text">Delivery in no time! We guarantee no delays!</p>
        </div>

        <div class="feature">
          <div class = "feature-heading">
            <img src="{% static 'index/images/high_quality.png' %}" class="feature-icon">
            <h2 class="feature-h2">High Quality</h2>
          </div>
            <p class="feature-text">We have the highest quality products in all of Europe!</p>
        </div>

        <div class="feature">
          <div class = "feature-heading">
            <img src="{% static 'index/images/great_prices.png' %}" class="feature-icon">
            <h2 class="feature-h2">Great Prices</h2>
          </div>
            <p class="feature-text">Nothing overpriced! The best prices you can find!</p>
        </div>

      </div>

    </section>
<!-- END OF FEATURE SECTION -->

<!-- START OF FAQ section -->
    <section class="FAQ">
      <h1 class="FAQ-main-header">Frequently asked questions</h1>

      <div class="FAQ-flex1">

        <div class="question question1">
          <h2 class="question-title">How are the prices so cheap?</h2>
          <p class="question-answer">We have partners all around the world and we take very little of the price you pay!</p>
        </div>

        <div class="question question2">
          <h2 class="question-title">Can I refund an item?</h2>
          <p class="question-answer">Of course! You need a receipt! It's as easy as one phone call, sending it back or getting it to a store of ours!</p>
        </div>  

    </div>

    <div class="FAQ-flex2">

      <div class="question question3">
        <h2 class="question-title">How long does it take for items to be delivered?</h2>
        <p class="question-answer">It takes approximately 3 to 5 working days for a product to ship! If the product is large, it might take as little as 1 day!</p>
      </div>

      <div class="question question4">
        <h2 class="question-title">Are the products original?</h2>
        <p class="question-answer">Yes! We buy them directly from the original companies in large stocks! Our policy is against selling fake products!</p>
      </div>  

  </div>


      <a href="{% url 'contact_us' %}" class="FAQ-more-info">More info about us &rarr;</a>

    </section>
<!-- END OF FAQ section -->

  </main>
<!-- END OF MAIN -->

{% endblock %}